################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApp_Empty/.vs/WebApp_Empty/v16
/WebApp_Empty/WebApp_Empty/obj
